Xsd/Prey/Ark/Player/PsiPowers/KineticShieldPowerProperties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ch="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" targetNamespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" elementFormDefault="qualified">
  <xs:include schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey/ValueTypes.xsd" />
  <xs:include schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey/NodeTypes.xsd" />
  <xs:include schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader/MetaType.xsd" />
  <xs:import namespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader/MetaType.xsd" />
  <xs:element name="KineticShieldPowerProperties">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="MetaType">
          <xs:choice maxOccurs="unbounded">
            <xs:element name="Common" minOccurs="0" maxOccurs="unbounded" type="ArkPsiPowerPropertiesCommon" />
            <xs:element name="Levels" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="ArkPsiPowerKineticShieldProperties" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Array item<br /></xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:choice maxOccurs="unbounded">
                                <xs:element name="InstigatorMetaTags" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexContent>
                                      <xs:extension base="MetaType">
                                        <xs:choice maxOccurs="unbounded">
                                          <xs:element name="MetaTag" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                              <xs:annotation>
                                                <xs:documentation>Dictionary item<br />Key: "value" </xs:documentation>
                                              </xs:annotation>
                                              <xs:complexContent>
                                                <xs:extension base="MetaType">
                                                  <xs:attribute name="value" type="ArkMetaTagId" use="required">
                                                    <xs:annotation>
                                                      <xs:documentation>[KEY] [READ-ONLY] </xs:documentation>
                                                    </xs:annotation>
                                                  </xs:attribute>
                                                </xs:extension>
                                              </xs:complexContent>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:choice>
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                              <xs:attribute name="HitImpactAudioTrigger">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="AbsorbDamageAudioTrigger">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ReflectDamageAudioTrigger">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="FirstTimeoutWarningAudioTrigger">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="SecondTimeoutWarningAudioTrigger">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="EnableAudioTrigger">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="DisableAudioTrigger">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ChargeCount" type="int32" />
                              <xs:attribute name="DurationSec" type="float" />
                              <xs:attribute name="WarningDurationSec" type="float" />
                              <xs:attribute name="ReflectedSignalPackageId" type="ArkSignalPackageId" />
                              <xs:attribute name="DisplayName" type="string" />
                              <xs:attribute name="Description" type="string" />
                              <xs:attribute name="CooldownDurationSec" type="float" />
                              <xs:attribute name="EnableParticleEffect" type="string" />
                              <xs:attribute name="DisableParticleEffect" type="string" />
                              <xs:attribute name="AbsorbDamageParticleEffect" type="string" />
                              <xs:attribute name="ReflectDamageParticleEffect" type="string" />
                              <xs:attribute name="ReflectedDamageSignalPackageId" type="ArkSignalPackageId" />
                              <xs:attribute ref="ch:index" use="required" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
