Xsd/Prey/Libs/Config/gameDebug.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ch="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" targetNamespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" elementFormDefault="qualified">
  <xs:include schemaLocation="E:/Projects/Prey/Chairloader/Branch_Main/Xsd/Prey/ValueTypes.xsd" />
  <xs:include schemaLocation="E:/Projects/Prey/Chairloader/Branch_Main/Xsd/Prey/NodeTypes.xsd" />
  <xs:include schemaLocation="E:/Projects/Prey/Chairloader/Branch_Main/Xsd/Chairloader/MetaType.xsd" />
  <xs:import namespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" schemaLocation="E:/Projects/Prey/Chairloader/Branch_Main/Xsd/Chairloader/MetaType.xsd" />
  <xs:element name="DebugLayout">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="MetaType">
          <xs:choice maxOccurs="unbounded">
            <xs:element name="pages" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="page" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Array item<br /></xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:choice maxOccurs="unbounded">
                                <xs:element name="attribute" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation>Array item<br /></xs:documentation>
                                    </xs:annotation>
                                    <xs:complexContent>
                                      <xs:extension base="MetaType">
                                        <xs:choice maxOccurs="unbounded">
                                          <xs:element name="datalist" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                              <xs:annotation>
                                                <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                              </xs:annotation>
                                              <xs:complexContent>
                                                <xs:extension base="MetaType">
                                                  <xs:attribute name="path" type="string" />
                                                  <xs:attribute name="xpath" type="string" />
                                                  <xs:attribute name="id" type="string" />
                                                  <xs:attribute name="label" type="string" />
                                                </xs:extension>
                                              </xs:complexContent>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="list" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType mixed="true">
                                              <xs:annotation>
                                                <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                              </xs:annotation>
                                              <xs:complexContent>
                                                <xs:extension base="MetaType">
                                                  <xs:choice maxOccurs="unbounded">
                                                    <xs:element name="option" minOccurs="0" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                        <xs:annotation>
                                                          <xs:documentation>Array item<br /></xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexContent>
                                                          <xs:extension base="MetaType">
                                                            <xs:choice maxOccurs="unbounded">
                                                              <xs:element name="subactions" minOccurs="0" maxOccurs="unbounded">
                                                                <xs:complexType>
                                                                  <xs:annotation>
                                                                    <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                                                  </xs:annotation>
                                                                  <xs:complexContent>
                                                                    <xs:extension base="MetaType">
                                                                      <xs:choice maxOccurs="unbounded">
                                                                        <xs:element name="subaction" minOccurs="0" maxOccurs="unbounded">
                                                                          <xs:complexType>
                                                                            <xs:annotation>
                                                                              <xs:documentation>Array item<br /></xs:documentation>
                                                                            </xs:annotation>
                                                                            <xs:complexContent>
                                                                              <xs:extension base="MetaType">
                                                                                <xs:attribute name="action" type="string" />
                                                                                <xs:attribute ref="ch:index" use="required" />
                                                                              </xs:extension>
                                                                            </xs:complexContent>
                                                                          </xs:complexType>
                                                                        </xs:element>
                                                                      </xs:choice>
                                                                    </xs:extension>
                                                                  </xs:complexContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:choice>
                                                            <xs:attribute name="label" type="string" />
                                                            <xs:attribute name="value" type="string" />
                                                            <xs:attribute ref="ch:index" use="required" />
                                                          </xs:extension>
                                                        </xs:complexContent>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:choice>
                                                </xs:extension>
                                              </xs:complexContent>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="slider" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                              <xs:annotation>
                                                <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                              </xs:annotation>
                                              <xs:complexContent>
                                                <xs:extension base="MetaType">
                                                  <xs:attribute name="min" type="float" />
                                                  <xs:attribute name="max" type="float" />
                                                  <xs:attribute name="decimals" type="int32" />
                                                  <xs:attribute name="unit" type="float" />
                                                </xs:extension>
                                              </xs:complexContent>
                                            </xs:complexType>
                                          </xs:element>
                                          <xs:element name="subactions" minOccurs="0" maxOccurs="unbounded">
                                            <xs:complexType>
                                              <xs:annotation>
                                                <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                              </xs:annotation>
                                              <xs:complexContent>
                                                <xs:extension base="MetaType">
                                                  <xs:choice maxOccurs="unbounded">
                                                    <xs:element name="subaction" minOccurs="0" maxOccurs="unbounded">
                                                      <xs:complexType>
                                                        <xs:annotation>
                                                          <xs:documentation>Array item<br /></xs:documentation>
                                                        </xs:annotation>
                                                        <xs:complexContent>
                                                          <xs:extension base="MetaType">
                                                            <xs:attribute name="action" type="string" />
                                                            <xs:attribute ref="ch:index" use="required" />
                                                          </xs:extension>
                                                        </xs:complexContent>
                                                      </xs:complexType>
                                                    </xs:element>
                                                  </xs:choice>
                                                </xs:extension>
                                              </xs:complexContent>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:choice>
                                        <xs:attribute name="action">
                                          <xs:annotation>
                                            <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:union>
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:length value="0" />
                                                </xs:restriction>
                                              </xs:simpleType>
                                              <xs:simpleType>
                                                <xs:restriction base="string" />
                                              </xs:simpleType>
                                            </xs:union>
                                          </xs:simpleType>
                                        </xs:attribute>
                                        <xs:attribute name="label" type="string" />
                                        <xs:attribute name="setOnChange" type="boolString" />
                                        <xs:attribute name="SetOnChange" type="boolString" />
                                        <xs:attribute name="closeMenu" type="boolString" />
                                        <xs:attribute ref="ch:index" use="required" />
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                              <xs:attribute name="label" type="string" />
                              <xs:attribute ref="ch:index" use="required" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
