Xsd/Prey/Ark/AI/AiDistractors/ArkDistractors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ch="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" targetNamespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" elementFormDefault="qualified">
  <xs:include schemaLocation="E:/Projects/Prey/Chairloader/Branch_Main/Xsd/Prey/ValueTypes.xsd" />
  <xs:include schemaLocation="E:/Projects/Prey/Chairloader/Branch_Main/Xsd/Prey/NodeTypes.xsd" />
  <xs:include schemaLocation="E:/Projects/Prey/Chairloader/Branch_Main/Xsd/Chairloader/MetaType.xsd" />
  <xs:import namespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" schemaLocation="E:/Projects/Prey/Chairloader/Branch_Main/Xsd/Chairloader/MetaType.xsd" />
  <xs:element name="ArkDistractions">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="MetaType">
          <xs:choice maxOccurs="unbounded">
            <xs:element name="Distractions" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Distraction" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Dictionary item<br />Key: "ID" </xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:choice maxOccurs="unbounded">
                                <xs:element name="DistractionAnimation" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexContent>
                                      <xs:extension base="MetaType">
                                        <xs:attribute name="Fragment" type="string" />
                                        <xs:attribute name="Type" type="int32" />
                                        <xs:attribute name="LoopMinTime" type="float" />
                                        <xs:attribute name="LoopMaxTime" type="float" />
                                        <xs:attribute name="HoverAddRootMotion" type="boolString" />
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DistractionEvent" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexContent>
                                      <xs:extension base="MetaType">
                                        <xs:attribute name="Event" type="string" />
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DistractionLookAt" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexContent>
                                      <xs:extension base="MetaType">
                                        <xs:attribute name="LookAtRelativePosX" type="float" />
                                        <xs:attribute name="LookAtRelativePosY" type="float" />
                                        <xs:attribute name="LookAtRelativePosZ" type="float" />
                                        <xs:attribute name="Mode" type="int32" />
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="DistractionPositioning" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:annotation>
                                      <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                                    </xs:annotation>
                                    <xs:complexContent>
                                      <xs:extension base="MetaType">
                                        <xs:attribute name="MinValidStandRadius" type="float" />
                                        <xs:attribute name="MaxValidStandRadius" type="float" />
                                        <xs:attribute name="Mode" type="int32" />
                                        <xs:attribute name="MoveSpeed" type="float" />
                                        <xs:attribute name="AngleOffset" type="float" />
                                        <xs:attribute name="ValidStandAngle" type="float" />
                                        <xs:attribute name="PositionRelativePosX" type="float" />
                                        <xs:attribute name="PositionRelativePosY" type="float" />
                                        <xs:attribute name="PositionRelativePosZ" type="float" />
                                      </xs:extension>
                                    </xs:complexContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                              <xs:attribute name="ID" type="ArkDistractorIdDef" use="required">
                                <xs:annotation>
                                  <xs:documentation>[KEY] [READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="Name" type="string">
                                <xs:annotation>
                                  <xs:documentation>[READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="Debug" type="boolString" />
                              <xs:attribute name="IgnoreNpcFacingCheck" type="boolString" />
                              <xs:attribute name="OnUseCooldown" type="float" />
                              <xs:attribute name="CanBeUsedInZeroG" type="boolString" />
                              <xs:attribute name="Reusable" type="boolString" />
                              <xs:attribute name="SkipMovement" type="boolString" />
                              <xs:attribute name="CanBeSimultaneous" type="boolString" />
                              <xs:attribute name="CanRetreatTo" type="boolString" />
                              <xs:attribute name="TriggersAreaCooldown" type="boolString" />
                              <xs:attribute name="UsesAreaCooldown" type="boolString" />
                              <xs:attribute name="TryDistractRateSec" type="float" />
                              <xs:attribute name="MaxDistractDistance" type="float" />
                              <xs:attribute name="MaxDistractDistanceVertical" type="float" />
                              <xs:attribute name="MaxDistractionAngleDegreesOffForward" type="float" />
                              <xs:attribute name="MinDuration" type="float" />
                              <xs:attribute name="MaxDuration" type="float" />
                              <xs:attribute name="NpcUseColdown" type="float" />
                              <xs:attribute name="MinHeightDifference" type="float" />
                              <xs:attribute name="MaxHeightDifference" type="float" />
                              <xs:attribute name="UseableByTag" type="ArkMetaTagId" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="DistractorLifetimes" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Lifetime" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Array item<br /></xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" />
                              <xs:attribute name="Value" type="int32" />
                              <xs:attribute ref="ch:index" use="required" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="FragmentTypes" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Type" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Array item<br /></xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" />
                              <xs:attribute name="Type" type="int32" />
                              <xs:attribute ref="ch:index" use="required" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="LookAtModes" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Mode" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Array item<br /></xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" />
                              <xs:attribute name="Mode" type="int32" />
                              <xs:attribute ref="ch:index" use="required" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="PositionModes" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Mode" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Array item<br /></xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" />
                              <xs:attribute name="Mode" type="int32" />
                              <xs:attribute ref="ch:index" use="required" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="PositionMoveSpeed" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="MoveSpeed" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Array item<br /></xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" />
                              <xs:attribute name="MoveSpeed" type="float" />
                              <xs:attribute ref="ch:index" use="required" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
