Xsd/Prey/Levels/LevelData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ch="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" targetNamespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" elementFormDefault="qualified">
  <xs:include schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey/ValueTypes.xsd" />
  <xs:include schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey/NodeTypes.xsd" />
  <xs:include schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader/MetaType.xsd" />
  <xs:import namespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader/MetaType.xsd" />
  <xs:element name="LevelData">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="MetaType">
          <xs:choice maxOccurs="unbounded">
            <xs:element name="CollisionClasses" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="CollisionClass" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Array item<br /></xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="type" type="uint32" />
                              <xs:attribute name="ignore" type="uint32" />
                              <xs:attribute ref="ch:index" use="required" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="GameTokensLibraryReferences" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Library" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Dictionary item<br />Key: "Name" </xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" use="required">
                                <xs:annotation>
                                  <xs:documentation>[KEY] [READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Layers" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Layer" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Dictionary item<br />Key: "Name" </xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" use="required">
                                <xs:annotation>
                                  <xs:documentation>[KEY] [READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="Parent">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="Id" type="int32">
                                <xs:annotation>
                                  <xs:documentation>[READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="Specs" type="int32" />
                              <xs:attribute name="DefaultLoaded" type="boolInt" />
                              <xs:attribute name="LoadTokenId" type="GameTokenId" />
                              <xs:attribute name="LoadTokenValue" type="string" />
                              <xs:attribute name="Physics" type="boolInt" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="LevelInfo" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:attribute name="CreationDate" type="string" />
                    <xs:attribute name="Name" type="string" />
                    <xs:attribute name="HeightmapSize" type="int32" />
                    <xs:attribute name="HeightmapUnitSize" type="float" />
                    <xs:attribute name="HeightmapMaxHeight" type="float" />
                    <xs:attribute name="WaterLevel" type="float" />
                    <xs:attribute name="TerrainSectorSizeInMeters" type="float" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="MaterialsLibrary" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Library" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Dictionary item<br />Key: "Name" </xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" use="required">
                                <xs:annotation>
                                  <xs:documentation>[KEY] [READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="ParticlesLibrary" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Library" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Dictionary item<br />Key: "Name" </xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" use="required">
                                <xs:annotation>
                                  <xs:documentation>[KEY] [READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="SurfaceTypes" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="SurfaceType" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Dictionary item<br />Key: "Name" </xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="Name" type="string" use="required">
                                <xs:annotation>
                                  <xs:documentation>[KEY] [READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="SurfaceTypeID" type="int32" />
                              <xs:attribute name="DetailTexture">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="DetailScaleX" type="float" />
                              <xs:attribute name="DetailScaleY" type="float" />
                              <xs:attribute name="DetailMaterial" type="string" />
                              <xs:attribute name="ProjectAxis" type="int32" />
                              <xs:attribute name="Bumpmap">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ProjAxis" type="string" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Vegetation" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Object" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Dictionary item<br />Key: "GUID" </xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:attribute name="GUID" type="GuidWithBraces" use="required">
                                <xs:annotation>
                                  <xs:documentation>[KEY] [READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="Size" type="float" />
                              <xs:attribute name="SizeVar" type="float" />
                              <xs:attribute name="RandomRotation" type="boolInt" />
                              <xs:attribute name="RotationRangeToTerrainNormal" type="int32" />
                              <xs:attribute name="AlignToTerrain" type="boolInt" />
                              <xs:attribute name="AlignToTerrainCoefficient" type="float" />
                              <xs:attribute name="UseTerrainColor" type="boolInt" />
                              <xs:attribute name="AllowIndoor" type="boolInt" />
                              <xs:attribute name="Bending" type="int32" />
                              <xs:attribute name="Hideable" type="boolInt" />
                              <xs:attribute name="PlayerHideable" type="boolInt" />
                              <xs:attribute name="GrowOnBrushes" type="boolInt" />
                              <xs:attribute name="GrowOnTerrain" type="boolInt" />
                              <xs:attribute name="AutoMerged" type="boolInt" />
                              <xs:attribute name="Stiffness" type="float" />
                              <xs:attribute name="Damping" type="float" />
                              <xs:attribute name="Variance" type="float" />
                              <xs:attribute name="AirResistance" type="float" />
                              <xs:attribute name="Pickable" type="boolInt" />
                              <xs:attribute name="AIRadius" type="float" />
                              <xs:attribute name="Brightness" type="float" />
                              <xs:attribute name="Density" type="float" />
                              <xs:attribute name="ElevationMin" type="float" />
                              <xs:attribute name="ElevationMax" type="float" />
                              <xs:attribute name="SlopeMin" type="float" />
                              <xs:attribute name="SlopeMax" type="float" />
                              <xs:attribute name="CastShadow" type="boolInt" />
                              <xs:attribute name="CastShadowMinSpec" type="int32" />
                              <xs:attribute name="RecvShadow" type="boolInt" />
                              <xs:attribute name="DynamicDistanceShadows" type="boolInt" />
                              <xs:attribute name="CastSunShadowMinSpec" type="int32" />
                              <xs:attribute name="AlphaBlend" type="boolInt" />
                              <xs:attribute name="SpriteDistRatio" type="float" />
                              <xs:attribute name="LodDistRatio" type="float" />
                              <xs:attribute name="MaxViewDistRatio" type="float" />
                              <xs:attribute name="Material">
                                <xs:annotation>
                                  <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:union>
                                    <xs:simpleType>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="0" />
                                      </xs:restriction>
                                    </xs:simpleType>
                                    <xs:simpleType>
                                      <xs:restriction base="string" />
                                    </xs:simpleType>
                                  </xs:union>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="MinSpec" type="int32" />
                              <xs:attribute name="Frozen" type="boolInt" />
                              <xs:attribute name="Layer_Wet" type="int32" />
                              <xs:attribute name="Object" type="string" />
                              <xs:attribute name="Id" type="int32">
                                <xs:annotation>
                                  <xs:documentation>[READ-ONLY] </xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="FileName" type="string" />
                              <xs:attribute name="Hidden" type="boolInt" />
                              <xs:attribute name="Index" type="int32" />
                              <xs:attribute name="Category" type="string" />
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="SandboxVersion" type="string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
