Xsd/Prey/Ark/Player/PsiMode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ch="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" targetNamespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey" elementFormDefault="qualified">
  <xs:include schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey/ValueTypes.xsd" />
  <xs:include schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Prey/NodeTypes.xsd" />
  <xs:include schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader/MetaType.xsd" />
  <xs:import namespace="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader" schemaLocation="https://thelivingdiamond.github.io/Chairloader/Xsd/Chairloader/MetaType.xsd" />
  <xs:element name="Config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="MetaType">
          <xs:choice maxOccurs="unbounded">
            <xs:element name="OneG" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="ArkInputLegend" minOccurs="0" maxOccurs="unbounded" type="ArkInputLegend" />
                      <xs:element name="Mimic" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:choice maxOccurs="unbounded">
                                <xs:element name="ArkInputLegend" minOccurs="0" maxOccurs="unbounded" type="ArkInputLegend" />
                              </xs:choice>
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Targeting" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:attribute name="AudioTriggerCooldownSec" type="float" />
                    <xs:attribute name="ShowHudTargetInfo" type="boolString" />
                    <xs:attribute name="DepthControlSpeed" type="float" />
                    <xs:attribute name="CollisionRadius" type="float" />
                    <xs:attribute name="IndividualTargetingAngle" type="float" />
                    <xs:attribute name="MinSizeForCrosshair" type="float" />
                    <xs:attribute name="ParticleEffect">
                      <xs:annotation>
                        <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:union>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="0" />
                            </xs:restriction>
                          </xs:simpleType>
                          <xs:simpleType>
                            <xs:restriction base="string" />
                          </xs:simpleType>
                        </xs:union>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="CrosshairEffect">
                      <xs:annotation>
                        <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:union>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="0" />
                            </xs:restriction>
                          </xs:simpleType>
                          <xs:simpleType>
                            <xs:restriction base="string" />
                          </xs:simpleType>
                        </xs:union>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TargeParticleEffect">
                      <xs:annotation>
                        <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:union>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="0" />
                            </xs:restriction>
                          </xs:simpleType>
                          <xs:simpleType>
                            <xs:restriction base="string" />
                          </xs:simpleType>
                        </xs:union>
                      </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="TargetAttachmentName">
                      <xs:annotation>
                        <xs:documentation>[MAY BE EMPTY] </xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:union>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="0" />
                            </xs:restriction>
                          </xs:simpleType>
                          <xs:simpleType>
                            <xs:restriction base="string" />
                          </xs:simpleType>
                        </xs:union>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="ZeroG" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="ArkInputLegend" minOccurs="0" maxOccurs="unbounded" type="ArkInputLegend" />
                      <xs:element name="Mimic" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                          <xs:annotation>
                            <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                          </xs:annotation>
                          <xs:complexContent>
                            <xs:extension base="MetaType">
                              <xs:choice maxOccurs="unbounded">
                                <xs:element name="ArkInputLegend" minOccurs="0" maxOccurs="unbounded" type="ArkInputLegend" />
                              </xs:choice>
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Zoom" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Dictionary item<br />Key: &lt;Child Name&gt; </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                  <xs:extension base="MetaType">
                    <xs:attribute name="minDepth" type="float" />
                    <xs:attribute name="maxDepth" type="float" />
                    <xs:attribute name="minHFOV" type="float" />
                    <xs:attribute name="maxHFOV" type="float" />
                    <xs:attribute name="interpTime" type="float" />
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:attribute name="PlayerPsiModeMaterial">
            <xs:annotation>
              <xs:documentation>[MAY BE EMPTY] </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="0" />
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="string" />
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="PlayerPsiModeParticleEffect">
            <xs:annotation>
              <xs:documentation>[MAY BE EMPTY] </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="0" />
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="string" />
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="selectionText">
            <xs:annotation>
              <xs:documentation>[MAY BE EMPTY] </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="0" />
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="string" />
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="startMainLoopTrigger">
            <xs:annotation>
              <xs:documentation>[MAY BE EMPTY] </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="0" />
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="string" />
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="stopMainLoopTrigger">
            <xs:annotation>
              <xs:documentation>[MAY BE EMPTY] </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="0" />
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="string" />
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="SelectTargetAudioTrigger">
            <xs:annotation>
              <xs:documentation>[MAY BE EMPTY] </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="0" />
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="string" />
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="UnselectTargetAudioTrigger">
            <xs:annotation>
              <xs:documentation>[MAY BE EMPTY] </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="0" />
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="string" />
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="CooldownFinishedAudioTrigger">
            <xs:annotation>
              <xs:documentation>[MAY BE EMPTY] </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="0" />
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="string" />
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="ActivatePowerFailAudioTrigger">
            <xs:annotation>
              <xs:documentation>[MAY BE EMPTY] </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:union>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="0" />
                  </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                  <xs:restriction base="string" />
                </xs:simpleType>
              </xs:union>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
